body{
   background-color:lightblue;
 }
 
 h1{
   color:red;
   text-align:center;
 }
 
 p{
   font-family:verdana;
   font-size:20px;
 }
 #a1{
 background-color:#d1a386;
 }
 #a2{
	 background-color:#f5d5e1 ;
 }
 ul.a {
	   list-style:circle;
	   background:;
	   padding:20px;
	  }
 
 #a3{
	 background-color:#f7ebf5;
  }
	 
.cntr{
    height: 100px;
    width: 200px;
    background-color: red;
    margin-left:auto;
    margin-right: auto;
}
#ul1{
	list-style-type:circle;
}
#u2  {

   margin-left: 0;
   padding-left: 0;
}
.center{
	 
	  list-style-position: inside;
      padding: 0;
      
	 
	 
}
.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px
      rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}
.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}
.label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
